
html, body {
    background-color: #f3f3f2;
    color: #17184b;
    margin: 0 auto;
    padding: 0;
    width: 500px;
}
a:link {
    color: #17184b;
}
a:visited {
    color: #17184b;
}
a:hover {
    color: #17184b;
}
a:active {
    color: #17184b;
}
p {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: outside none none;
}
span {
    display: inline-block;
    font-weight: bold;
    width: 9em;
}
.tabs {
    clear: both;
    display: block;
    overflow: hidden;
}
.tabs li {
    float: left;
    margin-right: 0;
}
.tabs a {
    background: #e5e4e6 none repeat scroll 0 0;
    color: #5a5359;
    display: block;
    font-weight: bold;
    padding: 20px 15px;
    text-decoration: none;
}
.tabs li.active a, .tabs a:hover {
    background: #a0d8ef none repeat scroll 0 0;
    color: #5a5359;
}
.tab_content {
    border: 0 solid #e5e4e6;
    margin-top: 20px;
    padding: 9px;
}
.circleImage img {
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nameText p {
    color: #274a78;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    top: -100px;
}
.titleText p {
    color: #274a78;
    font-weight: bold;
    text-align: center;
}
#linkButton {
    background-color: #89c3eb;
    border-radius: 25px;
    color: #f8fbf8;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 9px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}
#linkButton:hover {
    background-color: #007bbb;
}